.inpt{
    margin-top: 40px;
    border-radius: 8px;
    height: 20px;
    width: 250px;
    font-size: 20px;
}

.btn {
    background: #4fd934;
    background-image: -webkit-linear-gradient(top, #4fd934, #2bb83b);
    background-image: -moz-linear-gradient(top, #4fd934, #2bb83b);
    background-image: -ms-linear-gradient(top, #4fd934, #2bb83b);
    background-image: -o-linear-gradient(top, #4fd934, #2bb83b);
    background-image: linear-gradient(to bottom, #4fd934, #2bb83b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 90px;
}

.btn:hover {
    background: #3cfc59;
    background-image: -webkit-linear-gradient(top, #3cfc59, #28db28);
    background-image: -moz-linear-gradient(top, #3cfc59, #28db28);
    background-image: -ms-linear-gradient(top, #3cfc59, #28db28);
    background-image: -o-linear-gradient(top, #3cfc59, #28db28);
    background-image: linear-gradient(to bottom, #3cfc59, #28db28);
    text-decoration: none;
}

.div-inscription{
    background-color:#FAFAFA;
    height: 650px;
    margin: auto;
    border-radius: 4px;
    text-align: center;
}

.div-table{
    display: table;
}

.div-row{
    display: table-row;
}

.div-cell{
    display: table-cell;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.div-box{
    display: inline-block;
    width: 120px;
    height: 120px;
    color: black;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.userName{
    display: inline-block;
}

.button_user{
    display: inline-block;
    float: right;
}

.list-group-item{
    width: 400px;
    margin:auto;
}

#middle{

}