.formulaire{
    margin: auto;
    display: inline-block;
}

ul{
    list-style: none;
    font-size: 18px;
}

.inpt{
    margin-top: 40px;
    border-radius: 8px;
    height: 20px;
    width: 250px;
    font-size: 20px;
}

