.div_cells{
    margin: 0.3%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 1px 2px #5858FA;
    text-align: center;
    color: white;
    font-family: Helvetica;
}

.div_cell_l_h{
    width: 54%;
    height: 24.1%;
    font-size: 48px;
}

.div_cell_l_v{
    width: 28%;
    height: 48.8%;
    font-size: 30px;
}
.div_mt{
    margin-top: -1.3%;
}
.div_mt_container{
    margin-top: -20px;
}
.div_cell_vl_v{
    width: 69.6%;
    height: 24.1%;
    margin-top: -13.5%;
    font-size: 48px;
}

.div_cell_md{
    width: 15%;
    height: 24.1%;
    font-size: 16px;

}

.div_cell_smd{
    width: 34.5%;
    height: 23.7%;
    font-size: 32px;
}
.div_cell_smd_mt{
    width: 34.5%;
    height: 23.7%;
    margin-top: -13.3%;
    font-size: 32px;
}

.template_mosaic{
    display: inline-block;
    margin-top: 0.1%;
    width: 100%;
    position: relative;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    float: left;
}
.m_bottom{
    margin-top: 100px;
}

.c_1{
    background-color: #81F781;
    box-shadow: 0px 1px 2px #58FA58;
}
.c_1:hover{
    background-color: #58FA58;
}
.c_2{
    background-color: #A9F5F2;
    box-shadow: 0px 1px 2px #81F7F3;
}
.c_2:hover{
    background-color: #81F7F3;
}
.c_3{
    background-color: #BE81F7;
    box-shadow: 0px 1px 2px #A466DE;
}
.c_3:hover{
    background-color: #A466DE;
}
.c_4{
    background-color: #819FF7;
    box-shadow: 0px 1px 2px #5882FA;
}
.c_4:hover{
    background-color: #5882FA;
}
.c_5{
    background-color: #FA5882;
    box-shadow: 0px 1px 2px #FE2E64;
}
.c_5:hover{
    background-color: #FE2E64;
}