<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/styleChat.css">
	</head>

	<body>
		<div id="users">
		</div>

		<div id="messages" >

			<div class="message" id="msgtpl" style="display:none">
				<img src="{{{user.avatar}}}">
				<div class="info">
					<p><strong>{{user.username}}</strong></p>
					<p>{{message}}</p>
					<span class="date">{{h}}:{{m}}</span>
				</div>
			</div>
		</div>

		<div id="login">
			<form action="" id="loginform">
			<h1>Bienvenu<h1>
			<p> Chat Projet Annuel 4AL ESGI </p>
			<input type="text" name="login" id="username" placehodler="Nom d'utilisateur">
			<input type="mail" name="mail" id="mail" placehodler="E-Mail">
			<input type="submit" value="Envoyer">
			</form>
		</div>	

		<form action="" id="form">
		<!--	<input type="text" id="message" class="text" />
			<input type="submit" id="send" value="Envoyer mon message !" class="submit"/> -->

      <input type="file">
      <input type="submit" value="Upload File" id="upload">
    
		</form>


		<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/mustache.js"></script>
		<script type="text/javascript" src="http://localhost:1337/socket.io/socket.io.js"></script>
		<!--<script type="text/javascript" src="../node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>-->
		<script type="text/javascript" src="../static/js/client.js"></script>
		<script src="../node_modules/delivery/lib/client/delivery.js"></script>

	</body>
</html>