<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/styleChat.css">
	</head>

	<body>
		<div id="users">
		</div>

		<div id="messages" >

			<div class="message" id="msgtpl" style="display:none">
				<img src="{{{user.avatar}}}">
				<div class="info">
					<p><strong>{{user.username}}</strong></p>
					<p>{{message}}</p>
					<p>{{separateur}}</p>
					<p>{{{upload}}}</p>
					<span class="date">{{j}}/{{M}}/{{A}}  {{h}}:{{m}}</span>
				</div>
			</div>
		</div>

		<div id="login">
			<form action="" id="loginform">
			<h1>Bienvenu<h1>
			<p> Chat Projet Annuel 4AL ESGI </p>
			<input type="text" name="login" id="username" placehodler="Nom d'utilisateur">
			<input type="mail" name="mail" id="mail" placehodler="E-Mail">
			<input type="text" name="room" id="room" placehodler="Room">

			<input type="text" name="token" value="7e2fa51e-5f09-4249-86a0-951787b36371" id="token" placehodler="token">
			<input type="text" name="recev" value="2" id="recev" placehodler="recev">

			<input type="submit" value="Envoyer">
			</form>
		</div>	

		<form action="" id="form">
			<input type="text" id="message" class="text" />
			<div style="margin-left: 70%;">
				<input type="file" id="upload">
      			<input type="submit" value="Envoyer"  style="margin: 2px;height: 94%;width: 25%;">
			</div>
		</form>


		<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/aes.js"></script>
		<script type="text/javascript" src="../static/js/mustache.js"></script>
		<script type="text/javascript" src="http://localhost:1337/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="../static/js/client.js"></script>
		<script src="../node_modules/delivery/lib/client/delivery.js"></script>


	</body>
</html>