<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/styleChat.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>

	<body>
		<div id="users">
		</div>


		<div id="messages" >

			<div  id="history" style="display:block">
			<form action="" id="history">
				<input type="submit"  style="width:100%" value="Historique des Conversations ">
			</form>
				
			</div>

			<div class="message" id="msgtpl" style="display:none">
				<img src="{{{user.avatar}}}">
				<div class="info">
					<p><strong>{{user.username}}</strong></p>
					<p>{{message}}</p>
					<p>{{separateur}}</p>
					<p>{{{upload}}}</p>
					<span class="date">{{j}}/{{M}}/{{A}}  {{h}}:{{m}}</span>
				</div>
			</div>
		</div>

		<div id="login">
			<form action="" id="loginform">
			<h1>Bienvenue<h1>
			<p>Les informations échangées à travers ce service de messagerie instantanée sont assujetties au secret profesionnel, tenez en compte lors de vos échanges.</p>
			<input type="text" value="" name="login" id="username" placehodler="Nom d'utilisateur" style="display:none">
			<input type="mail" value="" name="mail" id="mail" placehodler="E-Mail"  style="display:none">
			<input type="text" value="" name="room" id="room" placehodler="Room"  style="display:none">

			<input type="submit" value="Je comprends">
			</form>
		</div>	

	

		<form action="" id="form">
				<input id="btn_chat" class="btn_chat" type="button" value="Retour"  style="margin: 2px;height: 94%;width: 10%;">
			<input type="text" id="message" class="text" />
			<div id="right_panel">
				<input class="input_chat" type="file" id="upload"/>
      			<input class="btn_chat" type="submit" value="Envoyer" />      			
			</div>
		</form>


		<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/aes.js"></script>
		<script type="text/javascript" src="../static/js/mustache.js"></script>
		<script type="text/javascript" src="http://localhost:1337/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="../static/js/client.js"></script>
		<script src="../node_modules/delivery/lib/client/delivery.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$("#btn_chat").on("click", function(){
					window.location.href = "http://localhost:8080/accueil";
				})

			});

		</script>

	</body>
</html>